@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: hsl(218, 28%, 13%);
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}